<div class="jumbotron">
    <div class="container-fluid">
        <img class="burger-image" src="/assets/images/hamburger.png" alt="burger icon">
        <h1>EAT-DA-BURGER!</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Burgers</h3>
            {{#each burgers}}
            <p>
                {{burger_name}}
            </p>
            {{/each}}
        </div>
        <div class="col-md-6">
            <h3>Devoured</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>